__pycache__/
*.py[cod]
.venv/
venv/

*.aux
*.log
*.out
*.toc
*.synctex.gz

data/raw/*
data/processed/*
outputs/checkpoints/*
outputs/metrics/*
outputs/figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/checkpoints/.gitkeep
!outputs/metrics/.gitkeep
!outputs/figures/.gitkeep
